@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

body {
    background-color: #e7e7e7;
}

body, ul {
    margin: 0px;
    padding: 0px;
}

    /* MENU */

#header {
    background-color: #b4b4b4;
}

a {
    text-decoration: none;
    color: #252A30;
    font-family: Arial, Helvetica, sans-serif;
}

#menu a:hover {
    color: #ffffff;
    background-color: #252A30;
    transition: 1s;
}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 1rem;
}

#menu {
    list-style: none;
    display: flex;
    gap: .3rem;
    font-weight: bold;
    text-transform: uppercase;
}

#menu a {
    display: block;
    padding: 1rem;
}

    /* CONTEUDO */

#contato, #redes {
    background-color: #252A30;
    border: 1px solid #252A30;
    box-shadow: 3px 3px 3px #252A30;
    margin: 30px auto 25px auto;
    width: 500px;
    text-align: center;
}

h1 {
    font-family: 'Fugaz One', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #F5E82F;
}

.contato, .redes {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    gap: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.cont-facebook {
    color: #1877F2;
}

.cont-twitter {
    color: #1DA1F2;
}

.cont-instagram {
    color: #914BC7;
}

    /* FOOTER */

    .footer {
        text-align: center;
        background-color: #b4b4b4;
    }
    
    .copyright {
        font-size: 1rem;
        border: none;
        width: 400px;
    }

    /* MEDIA-QUERY */

    @media (max-width: 656px) {
        #logo a {
            background-color: transparent;
        }
        #nav {
            display: block;
            text-align: center;
            height: 150px;
        }
        #menu {
            gap: .1rem;
            display: flex;
            justify-content: center;
        }
        #menu a {
            padding: .9rem;
        }
        #contato, #redes {
            margin: 10px;
            width: auto;
        }
        #content {
            width: auto;
        }
        .copyright {
            display: block;
        }
    }
